<?xml version="1.0"?>

<configuration>
  <appSettings/>

  <system.web>
    <compilation debug="true" >
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="GET" path="GetContents" type="SampleApplicationService.GetContentsHandler" validate="false" />
      <add verb="GET" path="Content" type="SampleApplicationService.ContentsHandler"  validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add verb="GET" name="GetContentsHandler" path="GetContents" type="SampleApplicationService.GetContentsHandler"  />
      <add verb="GET" name="ContentsHandler" path="Content" type="SampleApplicationService.ContentsHandler"  />
    </handlers>
  </system.webServer>
</configuration>
