/WinAppDataExtraction/DataExtraction/DataExtraction/obj
/WinAppDataExtraction/DataExtraction/DataExtraction/bin
/WinAppFeeder/Feeder/obj
/WinAppFeeder/Feeder/bin
/WinAppQuery/Query/Query/obj
/WinAppQuery/Query/Query/bin
/WinAppWsInfo/WsInfo/WsInfo/obj
/WinAppWsInfo/WsInfo/WsInfo/bin
/WebFeedEnumeratorSamples/SampleApplicationService_3_5/.vs
/WebFeedEnumeratorSamples/SampleApplicationService_3_5/SampleApplicationService_3_5/obj
/WebFeedEnumeratorSamples/SampleApplicationService_3_5/SampleApplicationService_3_5/bin
/WebFeedEnumeratorSamples/SampleApplicationService_4_5/.vs
/WebFeedEnumeratorSamples/SampleApplicationService_4_5/SampleApplicationService_4_5/obj
/WebFeedEnumeratorSamples/SampleApplicationService_4_5/SampleApplicationService_4_5/bin
/WinAppDataExtraction/.vs
/WinAppDataExtraction/DataExtraction/obj
/WinAppDataExtraction/DataExtraction/bin
/WinAppFeeder/.vs
/WinAppQuery/.vs
/WinAppQuery/Query/obj
/WinAppQuery/Query/bin
/WinAppToken/.vs
/WinAppToken/WinAppToken/obj
/WinAppToken/WinAppToken/bin
/WinAppWsInfo/.vs
/WinAppWsInfo/WsInfo/obj
/WinAppWsInfo/WsInfo/bin
