/WinAppDataExtraction/DataExtraction/DataExtraction/obj
/WinAppDataExtraction/DataExtraction/DataExtraction/bin
/WinAppFeeder/Feeder/obj
/WinAppFeeder/Feeder/bin
/WinAppQuery/Query/Query/obj
/WinAppQuery/Query/Query/bin
/WinAppWsInfo/WsInfo/WsInfo/obj
/WinAppWsInfo/WsInfo/WsInfo/bin
